* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header*/
/*для сетки*/
.main-header {}

main {
  flex-grow: 1;
}

.main-navigation {
  background-color: #ffffff;
  line-height: 26px;
  /*для сетки*/
  height: 56px;
  position: relative;
}

.header-logo-img {
  
  position: absolute;
  top:0px;
  margin-left:58px;
  margin-right:53px;
  left:40%;
  z-index:10 ;
}

.header-logo {
  width: 140px;
  height: 71px;
}


.site-navigation {
  list-style: none;
  /*для сетки*/
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.main-navigation a {
  color: #000000;
  
}

.menu-item-1 {
padding-left:79px;
padding-right:86px;
}

.menu-item-2 {
  padding-left: 75px;
  padding-right: 68px;
  margin-right: 244px;
  line-height: 26px;
}
.menu-item-3 {
  padding-left: 110px;
  padding-right: 73px;
}
.menu-item-4 {
  padding-right: 72px;
  padding-left: 110px;
}

.site-navigation .active {
  cursor: default;
  color: #766357;
}

.line-navigation:hover:not(.active) {
  color: #81b3d2;
}

.line-navigation:active:not(.active) {
  color: rgba(0, 0, 0, 0.3);
}

/*main*/

.header-banner {
  background-image: url("../img/logo-main.jpg");
  background-position: 100% 27%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 543px;
  z-index: 5;
  position: relative;
  border: none;
}

.header-banner-welcome {
  max-width: 459px;
  max-height: 353px;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-48%);
  border: none;
}

.header-polygon {
  max-width: 1203px;
  max-height: 59px;
  position: absolute;
  bottom: -2px;
  left: -1px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading {
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  min-height: 216px;
  height: 216px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10px;
}

.block-description {
  display: flex;
  justify-content: space-between;
}

.white-back {
  min-height: 330px;
  height: 330px;
  display: flex;
}

.white-back-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 87px;
}

.grey-back {
  min-height: 256px;
  height: 256px;
  background-color: #eeeeee;
  display: flex;
}

.grey-back-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 64px;
}


.reason-items-4 {
  max-width: 208px;
}

.reason-items-5 {
 max-width: 262px;
}

.reason-items-6 {
 max-width: 248px;
}


.blue-back {
  min-height: 256px;
  background-color: #81b3d2;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blue-back-1 {
  padding-top: 46px;
  padding-bottom: 64px;
 
}

.blue-back-2 {
  padding-top: 49px;
  padding-bottom: 65px;
  
}

.heading-index {
  font-size: 21px;
  letter-spacing: 1.5px;
  line-height: 26px;
  margin-left: 10px;
  margin-top: 5px;
}

.heading-items {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.heading-blue-back {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.reason {
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  padding-top: 50px;
  letter-spacing: 0.4px;
}

.reason-items {
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.reason-items-1 {
  max-width: 252px;
}

.reason-items-2 {
  max-width: 284px;;
}

.reason-items-3 {
max-width: 273px;
}

.reason-items-blue-1 {
  color: #ffffff;
  max-width: 280px;
}

.reason-items-blue-2 {
  color: #ffffff;
  max-width: 303px;
}

.info {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 57px;
}

.info-question {
  font-size: 30px;
  line-height: 36px;
}

.info-offers {
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  padding-top: 30px;
  padding-bottom: 50px;
}


.container-banner-hotels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-image: url("../img/logo-main-hotels.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 233px;

}

.list-checkbox {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 31px;
  margin-top: 31px;
  
}


.list-checkbox-1 {
margin-left: 2px;;
}

.list-checkbox-2 {

margin-left:70px;
}

.checkbox-input {
  display: none;

}

.list-checkbox li:first-child {
  margin-bottom: 23px;
}

.list-checkbox li:nth-child(2) {
  margin-bottom: 23px;
}

.list-checkbox li:nth-child(3) {
  margin-bottom: 31px;
}

.label-line-checkbox {
  display: inline-block;
  vertical-align: bottom;
}

.header-column-1 {
  margin-right: 40px;
}

.header-column-2 {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 26px;
}

.list-checkbox-line {
  list-style: none;

}


.checkbox-column {
  display: flex;
  margin-left: 72px;
}

.checkbox-label {
  line-height: 21px;
  font-weight: 400;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  color: #ffffff
}

.checkbox-label input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  margin
}

.checkbox-label input[type="checkbox"]:checked+.checkbox-indicator::before {
  content: "";
  top: 0px;

  left: 3px;
  width: 25px;
  height: 10px;
  border: 3px solid #ffffff;
  color: #ffffff;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  position: absolute;

}


.filter-range {

  width: 340px;
  top: 87px;
  left: 1390px;
  color: #ffffff;
  margin-right: 74px;
  margin-top: 31px;
}

.price-controls {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 65px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 118px;
}

.max-price {
  transform: translateX(42px);
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filter-range-title {
  margin-bottom: 13px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}




.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;

  background: #ababab;
  border: 7px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
  transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 8px 38px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-left:  88px; 
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.button {
  min-width: 65px;
  width: 100%;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 20px;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-small {
  min-width: 110px;
  min-height: 27px;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 13px 6px 13px;
  margin-right: 3px;
  letter-spacing: 1.5px;
}

.button-brown {
  width: 100%;
  max-width: 568px;
  min-width: 289px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  padding: 33px 55px;
  border: none;
  position: relative;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-brown-2 {
  min-width: 110px;
  min-height: 27px;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 14px 6px 17px;
  color: #ffffff;
  background-color: #766357;
  letter-spacing: 1px;
}

.button-brown-2:hover {
  background-color: #604e43;
}

.button-brown-2:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.container-button {
  position: relative;
}

.form {
  background-color: #ffffff;
  padding: 55px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  height: 395px;
  width: 568px;
  position: absolute;
  left: 316px;
  display: none;
}

.modal-close {
  display: block
}



@keyframes bounce {

  0% {
    transform: translateY(0%);
  }


  50% {
    transform: translateY(50%);
  }



  100% {
    transform: translateY(100%);
  }
}


.form input[type="text"],
.form input[type="number"] {
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  padding-left: 13px;
}

.container-form {
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  min-width: 568px;
  width: 100%;

}

.map {
  width: 100%;
  margin-bottom: -113px;
  background-color: #177245;
}

.button-plus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  position: relative;
}

.button-minus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  position: relative;
}


.button-minus::before,
.button-minus::after {
  content: "";

  width: 12px;
  height: 3px;
  position: absolute;
  top: 18px;
  left: 14px;
  background-color: #d0d0d0;

}

.button-plus::before,
.button-plus::after {
  content: "";

  width: 12px;
  height: 3px;
  position: absolute;
  top: 18px;
  left: 14px;
  background-color: #d0d0d0;
  text-align: center;
}

.button-plus::after {
  transform: rotate(90deg);
}

.button-minus:hover::before,
.button-minus:hover::after {
  background-color: #000000;
}

.button-minus:active::before,
.button-minus:active::after {
  background-color: #81b3d2;
}


.button-plus:hover::before,
.button-plus:hover::after {
  background-color: #000000;
}

.button-plus:active::before,
.button-plus:active::after {
  background-color: #81b3d2;
}


.form-location {
  display: flex;
  flex-direction: column;
}

.container-form-position {
  display: flex;
  width: 568px;
  align-self: center;
}

.form-list {
  width: 306px;
  height: 38px;
  background-color: #f2f2f2;
  line-height: 26px;
  position: relative;
  border: none;
  margin-bottom: 30px;
}

 .form-list input[type="text"] {
  line-height: 26px;
  
}

.form-list-1 {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 54px;
}

.form-list:hover {
  background-color: #ebebeb;
}

.form-list:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.form-label-1 {
  margin-right: 21px;
}

.form-label-2 {
  margin-right: 17px;
}

.form-label-3 {
  margin-right: 41px;
  margin-top: 7px;
}

.form-label-4 {
  margin-right: 27px;
  margin-top: 7px;
}

.form-line-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  background-color: #ffffff;
}

.container-hotels {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  margin-left:5px;
  
}

.card-container-motel {
  margin-top: -9px;
}

.card-photo {
  padding-top: 30px;
  
  padding-left: 72px;
  margin-right: 30px;
}

.card-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 76px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.card-container-3 {
  display: flex;
  justify-content: space-between;
  min-height: 87px;
  border-top: 1px solid #f2f2f2;
}

.card-container-2 p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

}

.form-line-adults {
  display: flex;

}

.condition-line {
  display: flex;
}

.card-cost-1 {
  padding-right: 39px;
}

.card-cost-2 {
  padding-right: 60px;
}

.card-cost-3 {
  padding-right: 13px;
}

.stars-motel {
  margin-top: -5px;
}

.card-name {
  font-size: 21px;
  line-height: 26px;
  padding-top: 27px;
  margin-left: 4px;
letter-spacing: 1.2px;
margin-bottom: 5px;
}

.card-name:hover {
  color: #81b3d2;
}

.card-name:active {
  color: rgba(0, 0, 0, 0.3);
}


.stars-position {
margin-top: 2px;
}

.card-name-filters {
  font-size: 21px;
  margin-top: 33px;
  margin-left: 77px;
  margin-bottom: 33px;
  margin-right: 43px;
  letter-spacing: 1.1px;
}

.card-column {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
  margin-left:8px;
  margin-top:2px;
}

.card-item-list {
  display: flex;
}



.card-name-filters span {
  padding-left: 5px;
}

.card-items {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}

.card-items:hover {
  color: #81b3d2;
}

.card-items:active {
  color: #000000;
}

.card-items-1 {
  margin-right: 39px;
}

.card-items-2 {
  margin-right: 39px;
}

.card-items-3 {
  margin-right: 33px;
}

.container-card-items {
  display: flex;
  align-items: center;
}

.icon-filters {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.button-calendar {
  border: none;
  background-color: #f2f2f2;
  position: absolute;
  padding: 8px 9px;
  height: 38px;
}

.button-calendar:hover>.icon-calendar {
  fill: #000000;
}

.button-calendar:active>.icon-calendar {
  fill: #81b3d2;
}

.icon-calendar {
  width: 21px;
  height: 22px;
  fill: #cacaca;
}




.icon-up-dir {
  margin-right: 12px;
}

.icon-color:hover {
  fill: #000000;
}

.icon-color:active {
  fill: #81b3d2;
}


.card-description {
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin-bottom: 21px;
  margin-left:3px;
  letter-spacing: 1.1px;
margin-top: 4px;
}

.card-container-villas {
  margin-top: -6px;
}
.cent {
  letter-spacing: 1px;
  margin-left: -6px;
}
.card-button {
  padding-bottom: 41px;
  padding-left: 5px;
}

.stars {
  margin-left: 8px;
}

.stars-villas {
  margin-top: -4px;;
}

.rating {
  min-width: 81px;
  align-self: flex-end;
  background-color: #f2f2f2;
  color: #666666;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding: 5px 17px 2px 20px;
  margin-bottom: 12px;
}

.rating-motel {
  padding:5px 17px 2px 20px;
  margin-bottom:9px;
}

/*Для сетки*/

/* footer */

.main-footer {
  background-color: #f2f2f2;
  width: 100%;
  flex: 1 0 auto;
  max-height: 120px;

  /*Для сетки*/
  padding: 30px;
}

.main-footer a {
  color: #000000;
}

.main-footer-1 {
  opacity: 0.9;
}

.footer-social li {
  list-style: none;
  margin-right: 2px;
}

.footer-social {
  text-align: center;
  /*Для сетки*/
  margin: 0px;
  min-height: 48px;
  margin-right: 33px;
  padding-right: 15px;
}

.footer-social-items {
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  /*Для сетки*/
  margin: 0px;
  min-width: 223px;
  min-height: 48px;
}

/*Для сетки*/

.copyright-container {
  display: flex;
  flex-wrap: wrap;
}

.copyright {
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 400;
  text-align: center;
  /*Для сетки*/
  min-height: 50px;
  margin: 0px;
  display: flex;
  align-items: center;
margin-right: -17px;
  flex-wrap: wrap;
}

.copyright-website {
  margin-right: 8px;
}

.copyright-logo {
  width: 115px;
  height: 41px;
  margin-top: 5px;

}

.copyright-logo path:hover {
  fill: #81b3d2;
}

.copyright-logo path:active {
  fill: #bdbbbc;
}


.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -2px;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  position: relative;
  margin: 0 0.2rem;
}

.social-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active,
.social-button-icon:active {
  background-color: #5496bd;
}
