html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;

  background-color: #c0c0c0;
}

a {
  text-decoration: none;
}
/* header*/
.main-navigation {
  background-color: white;
  line-height: 26px;
}
.site-navigation {
  list-style: none;
}

.main-navigation a {
  color: black;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #18d3ff;
}

/*main*/

.container {
  background-image: url("../img/logo-main.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 773px;
}


}

.visually-hidden {
  visibility: hidden;
}

.features {
  text-align: center;
  background-color: #ffffff;
}

.features-item1 {
  font-size: 21px;
  line-height: 26px;
}

.features-item2 {
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.info {
  text-align: center;
  background-color: #ffffff;
}

.info-question {
  font-size: 21px;
  line-height: 26px;
}

.info-offers {
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.button {
  width: 458px;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  text-align: center;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
}

.button-2 {
  width: 110px;
  font-size: 14px;
  line-height: 21px;
}

.button-brown {
  width: 289px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
}

.button-brown-2 {
  width: 110px;
  font-size: 14px;
  line-height: 21px;
}



.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-list {
  width: 346px;
  background-color: #f2f2f2;
}

.form-list:hover {
  background-color: #ebebeb;
}
.form-list:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.container {
  background-color: #ffffff;
}

.name-list {
  font-size: 21px;
  line-height: 26px;
  font-size: 21px;
}

.name-item {
  font-family: PTSans;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

/* footer */

.main-footer {
  background-color: #ffffff;
}

.main-footer a {
  color: #000000;
}

.footer-social li {
  list-style: none;
}

.footer-social {
  text-align: center;
}

.footer-tegs {
  width: 136px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts {
  width: 223px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.copyright {
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  font-family: PTSans;
  font-weight: 400;
}

.copyright-logo:hover {
  background-color: #81b3d2;
}
.copyright-logo:active {
  background-color: #bdbbbc;
}
